#header{
    width: 100%;
    background: var(--default-gradient);
    text-align: center;

    position: fixed;
    z-index: 99999;

    top: 0;
    left: 0;
    right: 0;
}
.Logo{
    height: 75px;
    width: 75px;
}

.Logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#header-content {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

#header-menu{
 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 2rem;
}

#search{
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 5px;
  
}


#main{
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(60px, max-content) 95%;
    grid-template-columns: repeat(3, 30%);
    grid-template-areas:
    "navbar navbar navbar navbar"
     "content content content content";
     margin-top: 100px;

}

#main-navbar{
    grid-area: navbar;
    text-align: center;
    padding-bottom: 15px;
}
#main-navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#main-navbar ul li a{
    font-size: 1.2rem;
}
#main .content{
    grid-area: content;
    max-height: 75vh;
    overflow-y: scrol;
}
#main .content::-webkit-scrollbar{
    display: none;
}

#calendario{
    width: 100%;
    height: 50vh;
    max-height: 50vh;
   
}




/* ESTILOS CALENDARIO */

.react-calendar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.react-calendar__navigation{
    background: var(--default-gradient);
}

.react-calendar__navigation button{
    color: white;
}