#header{
    width: 100%;
    background-color: aqua;
    text-align: center;
}
.Logo{
    height: 75px;
    width: 75px;
}

.Logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#header-content {
    display: flex;
    justify-content: space-between;
}

#header-menu{
 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 2rem;
}

#search{
    outline: none;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 5px;
    background: #c3c3c3;
}


#main{
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(60px, max-content) 95%;
    grid-template-columns: repeat(3, 30%);
    grid-template-areas:
    "navbar navbar navbar navbar"
     "left feed feed right"
          
}

#main-navbar{
    grid-area: navbar;
    text-align: center;
    padding-bottom: 15px;
}
#main-navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#main-navbar ul li a{
    font-size: 1.2rem;
}
#main #left{
    grid-area: left;

}
#main #center{
    grid-area: feed;
    padding: 0 15px;
    max-height: 100%;
    overflow: scroll;
}

#main #center::-webkit-scrollbar{
    display: none;
}


#main #right{
    grid-area: right;
}


#calendario{
    width: 100%;
    height: 50vh;
    max-height: 50vh;
   
}




/* ESTILOS CALENDARIO */

.react-calendar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.react-calendar__navigation{
    background: var(--default-gradient);
}

.react-calendar__navigation button{
    color: white;
}