#wrapper-loading{
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}
#loadingIcon{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 20px solid var(--primary-color);
    border-top: 20px solid var(--primary-color-light);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}