.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.loadingIcon{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 20px solid var(--primary-color);
    border-top: 20px solid var(--primary-color-light);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}